*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}

.sidebar{
    background-color: #cf0303;
    border-right: 1px solid black;
    display: grid;

    grid-template-rows: 70px 300px 200px;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    background-color: #ff0000;;
}

.logo img{
    width: 50px;
    height: 50px;
}

.user img,
.setting img{
    width: 30px;
    height: 30px;
}

.bar-row{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    column-gap: 12px;
    padding: 0 15px;
    margin-top: 10px;
    background-color: #ff0000;;
}

.main{
    display: grid;
    grid-template-rows: 200px 1fr;
    background-color: #d1d5db;
    overflow: auto;
}

.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: #cf0303;
}

.top{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    background-color: #ff0000;
    padding: 5px 24px;
}

.bar{
    display: grid;
    grid-template-columns: minmax(200px,90%) 30px;
    margin: 10px;
    align-items: center;
    column-gap: 5px;
}

.bar input{
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(95, 2, 2, 0.5);
    height: 23px;
    color: antiquewhite;
    padding: 4px;
}

.bar img{
    width: 30px;
    height: 30px;
    align-self: center;
}

.acc{
    display: grid;
    grid-template-columns: 2fr 8fr;
    border: 0;
    border-radius: 3px;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
}

.acc img{
    width: 30px;
    height: 30px;
    justify-self:end;
}

.acc div{
    justify-self: start;
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    font-weight: 700;
}

.acc div img{
    width: 50px;
    height: 50px;
}

.foot{
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: start;
    justify-items: start;
}

.foot .acc{
    display:  grid;
    grid-template-columns: 70px 1fr;
    padding: 5px 30px;
    align-items: center;
}

.foot .acc b{
    font-size: 20px;
}

.foot .acc img{
    width: 80px;
    height: 80px;
}

.btn{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 5px 24px;
}

.btn button{
    color: antiquewhite;
    background-color: #000;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
}

.content{
    display: grid;
    padding: 10px;
    grid-template-columns: 7fr 3fr;
    background-color:#030712; 
    overflow: auto;
    height: 100%;
}

.project{
    display: block;
    overflow: auto;
}

.project .box{
    background-color: #1f2937;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(450px,1fr));
    border: 0;
    padding: 10px;
    column-gap: 5px;
    overflow: auto;
}

.project h2{
    color: antiquewhite;
    margin-bottom: 10px;
    font-size: 24px;
}

.card{
    background-color: antiquewhite;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    height: 200px;
    overflow: auto;
    display:  grid;
    grid-template-rows: 2fr 1fr;
}

.card img{
    width: 30px;
    height: 30px;
}

.interac{
    justify-self: end;
    align-self: center;
}

.interac a{
    margin-right: 10px;
}

.card div:not(.interac){
    justify-self: center;
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    row-gap: 5px;
}